:root {
    --clr-dark-bg: #010101;
}

body {
  overflow-x: hidden;
  
  background-color: var(--clr-dark-bg);
}

.transition-fade {
    transition: 0.5s;
    opacity: 1;
}
  
html.is-animating .transition-fade {
    opacity: 0;
    transform: scale(5);
}

html.is-leaving .transition-fade {
    opacity: 0.5;
    transform: scale(3);
}

svg {
    height: 95vh;
    width: auto;
}

.landing-svg {
    width: 100%;
    /* background-color: gray; */
    display: flex;
    justify-content: center;
}